#main {
    width: 100vw;
    height: 100vh;
    transition: background .8s ease-in-out 0s;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

[data-theme="1"] {
    background: #90CAF9;
}

[data-theme="2"] {
    background: #81D4FA;
}

[data-theme="3"] {
    background: #80CBC4;
}

[data-theme="4"] {
    background: #C5E1A5;
}

[data-theme="5"] {
    background: #FFE082;
}

[data-theme="6"] {
    background: #FFAB91;
}

[data-theme="7"] {
    background: #CE93D8;
}

[data-theme="8"] {
    background: #B39DDB;
}

[data-theme="9"] {
    background: #EF9A9A;
}

[data-theme="10"] {
    background: #CE93D8;
}

[data-theme="11"] {
    background: #BCAAA4;
}

[data-theme="12"] {
    background: #B0BEC5;
}

[data-title-theme='1'] {
    background: #1E88E5;
}

[data-title-theme='2'] {
    background: #039BE5;
}

[data-title-theme='3'] {
    background: #00897B;
}

[data-title-theme='4'] {
    background: #7CB342;
}

[data-title-theme='5'] {
    background: #FFB300;
}

[data-title-theme='6'] {
    background: #F4511E;
}

[data-title-theme='7'] {
    background: #8E24AA;
}
[data-title-theme='8'] {
    background: #5E35B1;
}
[data-title-theme='9'] {
    background: #E53935;
}

[data-title-theme='10'] {
    background: #8E24AA;
}

[data-title-theme='11'] {
    background: #6D4C41;
}

[data-title-theme='12'] {
    background: #546E7A;
}

.animate-container {
    width: 600px;
    height: 400px;
    border-radius: 15px;
    box-shadow: 0px 10px 20px 20px rgba(0, 0, 0, 0.17);
    background: #fff;
    margin: 20px auto;
    overflow: hidden;
}

.animate-title {
    width: 100%;
    height: 60px;
    line-height: 60px;
    transition: background .4s ease-in-out 0s;
    color: #fff;
    padding-left: 20px;
}